[D-BUS Service]
Name=org.gnome.Shell.CalendarServer
Exec=/snap/bin/ubuntu-desktop-session.gnome-shell-calendar-server
AssumedAppArmorLabel=snap.ubuntu-desktop-session.gnome-shell-calendar-server
