[D-BUS Service]
Name=org.gnome.keyring.PrivatePrompter
Exec=/snap/bin/ubuntu-desktop-session.gcr-prompter
AssumedAppArmorLabel=snap.ubuntu-desktop-session.gcr-prompter
