[D-BUS Service]
Name=org.gnome.OnlineAccounts
Exec=/snap/bin/ubuntu-desktop-session.goa-daemon
AssumedAppArmorLabel=snap.ubuntu-desktop-session.goa-daemon
