[D-BUS Service]
Name=org.gnome.keyring
Exec=/snap/bin/ubuntu-desktop-session.gnome-keyring-daemon --start --foreground --components=secrets
AssumedAppArmorLabel=snap.ubuntu-desktop-session.gnome-keyring-daemon
